body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.top {
	float: left;
	margin-right: 10px;

}

.bottom {
	float: right;
	margin-left: 10px;
}

img {
	width: 320px;
	height: 320px;
}
